<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title%}
            
            {% endblock%}
            | PC04
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% Diseño 'static.css' %}" />
    </head>
    </head>
    <body>
        <header>
            <div id="logotipo">
                
                <h1>Proyecto Web (LP3)</h1>
            </div>
        </header>
        <nav>        
            <ul>
                <li>
                    <a href="{% url 'inicio' %}"> Inicio</a>
                </li>
                <li>
                    <a href="{% url 'noticias' %}"> Noticia</a>
                </li>
                <li>
                    <a href="{% url 'contacto' %}"> Contacto</a>
                </li>
                <li>
                    <a href="{% url 'ayuda' %}"> Ayuda</a>
                </li>
                  
            </ul>
        </nav>        
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
        <div id="content">
            <div class="box">
                
                {% block content %}
                    <strong> Contenido en layout </strong>
                {% endblock %}
            </div>
        </div>
        <footer>
            PC04 &copy;  {% now "d/m/Y h:m:s" %}
        </footer>
    </body>
</html>